@charset 'utf-8';

@import 'settings';
@import 'foundation/foundation';
@import 'motion-ui/motion-ui';
@import 'home';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

html , body{
	width: 100%;
	
}

*{
    box-sizing: border-box;
}

p{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Archivo Black', sans-serif;
    
}

.orbit-bullets{
    position: absolute;
    z-index: 10;
}



.off-canvas-open{
	position: fixed;
    top: 38%;
    z-index: 10;
    width: 5%;
    width: 52px;
    height: 50px;
    background-color:#251F21;
    color: #FF4537;

        &:hover{
            background-color: black;
        }

    
}

.off-canvas{
    
    .button{
        background-color: white;
    }       
    .language{
        position: relative;
        display: block;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #A89E80;
        padding-top: 5px;
        font-family: 'Archivo Black', sans-serif;
        color: #A89E80;

        a{
            font-family: 'Archivo Black', sans-serif;
            color: #A89E80;
        }

    
    }

    .logo{
        display: flex;
        justify-content: center;
        padding: 50px 0 50px 0;


    }

    .location{
        display: flex;
        justify-content: center;
        border-top: .5px solid #A89E80;
        height: 60px;

         a{
            font-size: .9rem;
            color: #FF4537;
            font-weight: 0;
            font-family: 'Archivo Black', sans-serif;
            padding-top: 18px;

                &:hover{
                    background-color: black;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
        }
    }

    .menu{
        display: flex;
        justify-content: center;
        border-top: .5px solid #A89E80;



         a{
            font-size: .9rem;
            color: #FF4537;
            font-family: 'Archivo Black', sans-serif;
            padding-top: 20px;
            padding-bottom: 20px;

            &:hover{

                    background-color: black;
                    width: 100%;
                    text-align: center;

            }

        }
    }



    .vmen{

        flex-direction: column;
            align-items: center;

        li{
            width: 100%;
            text-align: center;
        }

        .top-picks{
            font-family: 'Archivo Black', sans-serif;
            padding-bottom: 20px;

            a{

            }

        }
    }

    .nav-social{
        height: 40px;
        border-top: .5px solid #A89E80;
        position: relative;
        bottom: -32px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: center;
    }

}




@media screen and (min-width: 400px){
    
    .hero{
    background-image: url(../../src/img/ny-pastrami.jpg);
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

        h1{
        color: white;
        text-shadow: 3px 2px 1px #251F21;

        }
    }
    .orbit{

        ul{
            li{
                img{
                    height: auto;
                }
            }
        }

        h1{
        color: white;
        position: absolute;
        font-size: 2rem;
        font-weight: 700;

        }

        .slide-1{

            h1{
                top: 27%;
                left: 12px;
                text-shadow: 3px 2px 1px #251F21;


            }
        }

        .slide-2{

            h1{
                top: 32%;
                left: 11%;
                font-size: 1.4rem;
                text-shadow: 3px 2px 1px #251F21;
            }
        }

        .slide-3{

            h1{
                top: 36%;
                left: 82px;
                text-shadow: 3px 2px 1px #251F21;
            }
        }

        .slide-4{

            h1{
                top: 13%;
                font-size: 1.2rem;
                left: 19%;
                text-shadow: 3px 2px 1px #251F21;
            }
        }

        .slide-5{

            h1{
                top: 41%;
                text-shadow: 3px 2px 1px #251F21;
            }
        }

        .slide-6{

            h1{
                font-size: 1.4rem;
                left: 47px;
                top: 12px;
                text-shadow: 3px 2px 1px #251F21;
}
        }

         .slide-7{

            h1{
                top: 17%;
                left: 40px;
                text-shadow: 3px 2px 1px #251F21;

            }
        }

         .slide-8{

            h1{
                font-size: 1.5rem;
                top: 10%;
                left: 45px;
                text-shadow: 3px 2px 1px #251F21;

            }
        }


   
    }

    .orbit-bullets{
        position: absolute;
    z-index: 10;
    top: 204px;
    left: 110px;
    }
 
    .container-3{

        background-color: #897658;
        position: relative;
        padding-bottom: 50px;

        
         .container-3-text{
            position: relative;
            top: 20px;
            left: 20px;
            border-left: 2px solid white;


             h1{
                 font-size: 1.5rem;
                 color: white;
                  text-shadow: 1px 1px 2px black; 
             }
        
             p{
                font-size: .8rem;
                font-weight: 900;
                margin-bottom: 5px;
                padding-right: 83px;
                padding-left: 5px;             
            }
        }

}    

   


    .container-4{
        position: relative;

        .container-4-image{
            padding: 0;
        }

        h2{
            position: absolute;
            bottom: 36px;
            color: #FF5146;
            left: 92px;
            font-size: 2em;
            font-weight: 900;
            float: none;
            text-shadow: 3px 2px 1px #251F21;
 
        }
    }


    .container-5{
        position: relative;
        background-color: #FF4537;
        padding-bottom: 75px;




        .container-5-text{
            position: relative;
            left: 24px;
            top: 20px;
            border-left: 2px solid white;

            h1{
                 font-size: 1.2rem;
                 color: white;
                 text-shadow: 3px 2px 1px #251F21;
            }
        
             p{
                font-size: .8rem;
                font-weight: 900;
                margin-bottom: 5px;
               

            }
        }
    }

    .container-6{
        position: relative;
        padding: 0;

        &:hover{

            .container-6-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
            }      
        }

        .container-6-text{
            position: absolute;
            color: #FF4537;
            height: 0;
            visibility: hidden;
            transition: all .1s;
            

    

        
            h1{
                font-weight: 700;
                text-shadow: 3px 2px 1px #251F21;

            }   
        }
    }

    .img-grid{
            padding: 0;
          }
      

    .container-7{
        position: relative;
        padding: 0;
        border-top: 20px solid #251F21;
        border-bottom: 7px solid #251F21;

            .container-7-image{
                img{
                    width: 100%;
                }
            }
        &:hover{

            .container-7-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;

                h1{
                    font-size: 24px;
                }
            }      
        }

        .container-7-text{
            position: absolute;
            z-index: 10;
            color: white;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;

            }
        }  


        .container-7-image{
            position: relative;
            // background-image: url(../../src/img/truck.jpg);
            // height:    450px;
            background-repeat: no-repeat;
              padding: 0;

        }

    }

    .container-8{
        position: relative;
          padding: 0;
          border-bottom: 10px solid #251F21;

          .container-8-image{
                img{
                    width: 100%;
                }
            }

          &:hover{

            .container-8-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;
                 h1{
                    font-size: 24px;
                }
            }      
        }

        .container-8-text{
            position: absolute;
            z-index: 10;
            color: white;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;
            }
        } 


        .container-8-image{
            position: relative;
            // background-image: url(../../src/img/bg-party.jpg);
            // height:    450px;
            background-repeat: no-repeat;
            padding: 0;

            
        
    }
}

     .container-9{
        position: relative;
        padding: 0;
        border-bottom: 10px solid #251F21;

        .container-9-image{
                img{
                    width: 100%;
                }
            }

        &:hover{

            .container-9-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;
                 h1{
                    font-size: 24px;
                }

            }      
        }

        .container-9-text{
            position: absolute;
            z-index: 10;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;
            }
        } 

        .container-9-image{
            position: relative;
            // background-image: url(../../src/img/bg-press.jpg);
            // height:    450px;
            background-repeat: no-repeat;

            
    }
}

    .fbook-container{
        position: relative;
        border-bottom: 8px solid #251F21;


        &:hover{

            .fbook-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;

                 h1{
                    font-size: 24px;
                }
            }      
        }

        .fbook-text{
            position: absolute;
            z-index: 10;
            color: white;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;
            }
        } 

        .fbook-image{
            position: relative;
            // background-image: url(../../src/img/eggs.jpg);
            // height:    450px;
            background-repeat: no-repeat;
            padding: 0;

             img{
                    width: 100%;
                }

            
        }
    }

       .top-picks-container{
        position: relative;
        padding: 0;
        border-bottom: 7px solid #251F21;

        &:hover{

            .top-picks-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;
                 h1{
                    font-size: 24px;
                }
            }      
        }

        .top-picks-text{
            position: absolute;
            z-index: 10;
            color: white;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;
            }
        } 

        .top-picks-image{
            position: relative;
            // background-image: url(../../src/img/top-picks.jpg);
            // height:    450px;
            background-repeat: no-repeat;

             img{
                    width: 100%;
                }
            

        }
    }


    .insta-container{
        position: relative;
        padding: 0;
        border-bottom: 7px solid #251F21;

        .insta-img{
            position: relative;

             img{
                    width: 100%;
                }

        }

        &:hover{

            .insta-text{
                visibility: visible;
                background-color: rgba(0, 0, 0, 0.6);
                height: 40%;
                width: 100%;

                 h1{
                    font-size: 24px;
                }
               
            }      
        }

        .insta-text{
            position: absolute;
            z-index: 10;
            color: white;
            visibility: hidden;
            transition: all .1s;
            height: 0;

            h1{
                color: #FF4537;
                text-shadow: 3px 2px 1px #251F21;
                font-size: 24px;

            }
        }
    }
}

@media screen and (min-width: 550px){

    .hero{
        background-position-y: -63px;

   
}
    .container-3{
        .container-3-text{
            .side-line-wrapper{


                .side-line{
                    height: 186px;

                }
            }
        }
    }

    .container-4{

        h2{
            top: 82px;

        }     
    }

     .container-5{
        .container-5-text{
            .side-line-wrapper{


                .side-line{
                    height: 204px;

                }
            }
        }
    }
}



@media screen and (min-width: 648px){

    .container-3{

        .container-3-text{

            h1{
                padding-top: 50px;
                font-size: 3.4rem;

            }

            p{
                font-size: 1.3rem;
            }
        
        .side-line-wrapper{


            .side-line{
                left: -13px;
                height: 359px;
                top: 206px;

            }
        }
     }
}

    .container-4{

        h2{
            top: 58px;
            left: 118px;
            font-size: 3.5rem;

        }     
}

.container-5{


       

        .container-5-text{

            h1{
                padding-top: 50px;
                font-size: 3.4rem;

            }

            p{
                font-size: 1.3rem;
            }

            .side-line-wrapper{
            .side-line{
                left: -22px;
                height: 361px;
                top: 214px;
            }
        }
    }
}

    .container-7{
    }

    .container-8, .container-9{
        border-top: 20px solid #251F21;
        border-left: 5px solid #251F21;
 
    }

    .fbook-container{

    }

    .insta-container{
        border-left: 5px solid #251F21;
        border-bottom: 10px solid #251F21;

    }
}

@media screen and (min-width: 788px){
     .container-3{

    .container-3-text{

        .side-line-wrapper{

            .side-line{
                top: 129px;
                height: 294px;
            }
        }
    }

    .container-5-text{

            .side-line-wrapper{
            .side-line{
                height: 331px;

            }
        }
    }
}

 .container-4{

        h2{
            top: 130px;

        }     
    }
}








@media screen and (min-width: 967px){

    .container-3{
        padding-bottom: 108px;

        .side-line-wrapper{

            .side-line{
                top: 124px;
                height: 250px;
            }
        }
    }

    .container-3{

        .container-3-text{
            p{
                line-height: 2.1;
                font-size: 1.3rem;
            }
            .side-line-wrapper{
                .side-line{
                    height: 333px;
                    top: 128px;

                }
            }
        }
    }

    .container-4{
        h2{
            top: 144px;
            left: 189px;
        }
    }

    .container-5{
        .container-5-text{
            p{
                line-height: 2.1;
                font-size: 1.3rem;
            }
            .side-line-wrapper{
                .side-line{
                    height: 375px;
                    top: 222px;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px){
    .container-3{

        .container-3-text{
            .side-line-wrapper{
                .side-line{
                    height: 379px;

                }
            }
        }
    }
    .container-4{
        h2{
            top: 144px;
            left: 189px;
        }
    }

    .container-5{
        .container-5-text{
            .side-line-wrapper{
                .side-line{
                    height: 336px;
                    top: 146px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .container-3{

        .container-3-text{
            .side-line-wrapper{
                .side-line{
                    height: 335px;

                }
            }
        }
    }

     .container-5{
        .container-5-text{
            .side-line-wrapper{
                .side-line{
                    height: 246px;
                }
            }
        }
    }
}



@media screen and (min-width: 400px){
    .row{
        .options{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;

            a{
                font-size: 1.5rem;
                padding-bottom: 5px;
                color: black;

                &:hover{
                    width: 50%;
                    text-align: center;
                    border: 2px solid black;
                    border-radius: 10px;
                    padding-top: 2px;
                }
            }
        }
    }
    .banner{
    background-image: url(../../src/img/toppicks-banner.jpg);
    position: relative;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    background-position-y: -73px;
    display: flex;
    justify-content: center;
    color: white;


        h1{
            position: absolute;
            font-family: 'Archivo Black', sans-serif;
            text-shadow: 3px 2px 1px #251F21;
            font-size: 5rem;
        }
}

nav{
    .breadcrumbs{
        position: relative;
        left: 31px;
    }
}

.top-picks-grid{

    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 2s;


        &:hover{
            

            h1{
                display: flex;
                width: 100%;
                padding-left: 5px;
                // background-color:blue;
                font-size: 20px;
       
            }
        }




    h1{
        position: absolute;
        text-shadow: 3px 2px 1px #251F21;
        font-family: 'Archivo Black', sans-serif;
        color: #FF4537;
        font-size: 20px;
        height: 0;
        display: none;
        transition: all 2s;


        
    }

    }

}



@media screen and (min-width: 650px){

        .banner{
            background-image: url(../../src/img/toppicks-banner.jpg);
            position: relative;
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 24px;
            background-position-y: -73px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        
        
                h1{
                    position: absolute;
                    font-family: 'Archivo Black', sans-serif;
                    text-shadow: 3px 2px 1px #251F21;
                    font-size: 5rem;
                }
        }
        
        nav{
        .breadcrumbs{
                position: relative;
                left: 31px;
            }
        }
        
        .top-picks-grid{
        
            margin-bottom: 15px;
            position: relative;
            display: flex;
            align-items: center;
            transition: all 2s;

        
                &:hover{
                    background-color: white;
                    opacity: .7;
                    
        
                    h1{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        font-size: 22px;
                
                        
               
                    }
                }
        
        
        
        
            h1{
                position: absolute;
                text-shadow: 3px 2px 1px #251F21;
                font-family: 'Archivo Black', sans-serif;
                color: #FF4537;
                font-size: 1.5rem;
                height: 0;
                display: none;
                transition: all 2s;
        
                
            }
        
        }
        
        .row{
            .options{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        
                a{
                    color: black;

                    &:hover{
                        border: none;
                        width: initial;
                        padding: 0;
                    }
                }
            }
        }

}




.row{
    .location-left{
        h1{
            color: #333333;
            font-weight: 900;
            font-size: 64px;
            padding-top: 30px;
            margin-bottom: 20px;
        }

        h2{
                color: #FF4537;
                font-weight: 900;
                font-size: 29px;
                margin-bottom: 40px;
            }

        .number{
            h2{
                color: #FF4537;
                font-weight: 900;
                margin-bottom: -22px;
            }
        }
        


        p{
            font-weight: 700;
            color: #333333;
            margin-bottom: -5px;
        }
    }

    .location-right{
        h1{
            color: #FF4537;
            font-size: 33px;
            font-weight: 900;
            font-size: 29px;
            margin-bottom: 40px;
        }
    }
}

.row{
    .directions-title{
        h1{
            color: #333333;
            font-size: 33px;
        }
    }

    .directions{
        h2{
            color: #FF4537;
            font-weight: 900;
            font-size: 33px;
        }
    }
}

.row{
    .location-image{
        background-image: url(../../src/img/slider-1.jpg);
        position: relative;
        height: 650px;
        background-size: cover;
    }
}

.wifi{
    img{
        width: 46px;
        margin-right: 53px;
        margin-top: 15px;
    }
}



@media screen and (min-width: 650px){
    .top-picks-grid{
        h1{
            font-size: 20px;
        }
    }

    .location-right{
        padding-top: 40px;
    }
}
.row{
    nav{
        background-color: black;
        padding-top: 20px;

        h5{
            color: white;
            font-size: 15px;
            font-weight: 900;
        }

        h4{
            color: #BBBDC0;
            font-size: 15px;
            font-weight: 900;
        }

        h3{
            color: #BBBDC0;
            font-size: 17px;
            font-weight: 900;
        }

        p{
            color: #808080;
            font-size: 13px;
        }

          button{
                background-color: #FF4537;
                width: 100px;
                height: 40px;
                color: white;
            }
    
    .input{
        padding: 0;

        }

    

    .icons{
        padding: 0;
        display: flex;

            img{
                margin-right: 10px;
            }
        }
    }
}

















